@model webformulario.Models.filiacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>filiacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vitalicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vitalicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
